@model IEnumerable<Projeto_SolCar.Entidades.Clientes>

@{
    ViewData["Title"] = "Consulta";
}

<h1 style="margin-bottom:100px;">Clientes</h1>

<style>

    .btn{
        
    }
</style>

<p>
    <a style="margin-bottom:100px;background-color: #e86d27;border-radius:5px; border:none; height:35px; color:white; padding:7px; text-decoration:none" asp-action="Cadastrar">Cadastrar novo cliente </a>

</p>

<div style="margin-bottom:50px;" class="card">
    <div class="card-header"><strong>Pesquisar usuários</strong></div>
    <div style="background-color:#f2f2f2; border-color: #e86d27" class="card-body">
        <form action="/Clientes/Consulta" method="get">
            <div class="row">
                
                <select class="form-select" style="width:255px" name="tipoPesquisa">
                    <option value="porNome">Buscar por nome</option>
                    <option value="porCPF">Buscar por CPF</option>

                </select>

                <div class="col-4">
                    
                    <input type="text" id="query" name="query" onkeypress="ajaxConsulta()" class="form-control" placeholder="Buscar cadastro" />
                </div>



                <div class="col-4">
                    <button class="btn btn-success" type="submit">Buscar</button>
                </div>


            </div>
        </form>
        
    </div>
</div>



<table class="table table-striped" id="TabelaTeste">


    <thead style="text-align:center">
            <tr>
                
                <th>Nome</th>
                <th>Endereco</th>
                <th>Telefone</th>
                <th>CPF</th>
                <th>Data Nascimento</th>
                <th>Opções</th>
            </tr>
        </thead>
    <tbody style="text-align:center" >

            @foreach (var item in Model)
            {
                <tr>
                   

                    <td>
                        @item.Nome
                    </td>

                    <td>
                        @item.Endereco
                    </td>

                    <td>
                        @item.Telefone
                    </td>

                    <td>
                        @item.CPF
                    </td>
                    <td>
                        @item.Data_nasc
                    </td>
                    

                    <td>
                    <a style="background-color: #e86d27; color:white" class="btn" asp-action="Details" asp-route-id="@item.Id">Consultar</a>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item?.Id">Editar</a>
                    <a style="color:white" class="btn btn-primary" asp-action="SelecionarPlano" asp-route-id="@item.Id">Adicionar plano</a>

                </td>
            
                </tr>



            }
        </tbody>



 </table>






<script href ="./JS/jquery-3.6.1.min.js"  type="text/javascript">

    $(document).ready(function()

    {

    $("#query").on("keyup", function() 

    {

    var value = $(this).val().toLowerCase();

    $("#tb tr").filter(function() 

    {

    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)

    });

    });

    });

    </script> 







                    <!--section Scripts{
                        <script>
        function ajaxConsulta() {
            $.ajax({
                type: "POST",
                url: window.location.origin+"/Clientes/Ajax",
                data: { "query" : $("#query").val() },
                success: function(retorno)
                {
                    console.log(retorno)
                   $('#TabelaTeste tbody').empty();
                   var tr = ""
                    retorno.forEach(function (i) {
                        tr += "<tr><td>" + i.nome + "</td><td>" + i.endereco + "</td><td>" + i.telefone + "</td><td>" + i.cpf + "</td><td>" + i.data_nasc + "</td></tr>"
                   })
                  
                    $("#TabelaTeste tbody").append(tr);

                },
                dataType: "JSON"
            });
                            }
                        </script>
                    }

                    -->