@model IEnumerable<Projeto_SolCar.Entidades.Clientes>

@{
    ViewData["Title"] = "Consulta";
}

<h1>Consulta</h1>

<p>
    <a class="btn btn-primary" asp-action="Cadastrar">Cadastrar novo cliente </a>
</p>

<table class="table table-striped">


        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Endereco</th>
                <th>Telefone</th>
                <th>CPF</th>
                <th>Data Nascimento</th>
                <th>Plano Contratado</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>

                    <td>
                        @item.Nome
                    </td>

                    <td>
                        @item.Endereco
                    </td>

                    <td>
                        @item.Telefone
                    </td>

                    <td>
                        @item.CPF
                    </td>
                    <td>
                        @item.Data_nasc
                    </td>
                    <td>
                        @item.Data_nasc
                    </td>

                    <td> 
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Consultar</a> 
                    </td>
            
                </tr>



            }
        </tbody>



 </table>