@model Projeto_SolCar.Entidades.Clientes

@{
    ViewData["Title"] = "Details";
}


<style>
    .btn {
        float: left;
    }

    .cinza {
        color: #888888
    }

    h6 {
        color: #888888;
        display: inline-block;
        width: 30%;
    }

    h5 {
        color: #555555;
        display: inline-block;
        width: 30%;
    }

    .MesmaLinha {
        display: flex;
    }

    ul {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 50px;
        display: grid;
    }

    hr {
        size: 2px;
        align: center;
        width: 93%;
    }

    #Des {
        width: 100%;
        text-align: center;
    }
</style>


<h1 style="margin-right:70px" >Consulta</h1>

<a style="margin-top:85px;background-color: #e86d27;border-radius:5px; border:none; height:35px; color:white; padding:10px; text-decoration:none"
   asp-action="Consulta">Voltar à lista</a>

<br>
<ul>
    <h4 id="NP" style="align-self:center; margin-top:25px;">@Model.Nome</h4>
    <br>
    <div class="MesmaLinha">
        <h6 id="DdN">Data de Nascimento:@Model.Data_nasc</h6>
        <h6 id="S">Sexo: Gênero</h6>
        <a style="margin-left:40px; width:25%" asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.Id">Atualizar Cadastro</a>

    </div>
    <div class="MesmaLinha">
        <h6 id="CPF">CPF:@Model.CPF</h6>
        <h6 id="RG">RG: @Model.RG</h6>
    </div>
    <div class="MesmaLinha">
        <h6 id="E">Email: @Model.Email</h6>
        <h6 id="T">Telefone: @Model.Telefone</h6>
    </div>
    <br>
    <div class="MesmaLinha">
        <h6 id="End">Endereço: @Model.Endereco</h6>
        <h6 id="Ba">Bairro: @Model.Bairro</h6>
    </div>
    <div class="MesmaLinha">
        <h6 id="Cid">Cidade: @Model.Cidade</h6>
        <h6 id="CEP">CEP: @Model.CEP</h6>
        <h6 id="Est">Estado: @Model.Estado</h6>
    </div>
</ul>
<hr>
<ul>
    <!--foreach(var Plano in Model.Seguro_Carro)
    {
        <h4 id="P" style="align-self:center">Plano.Placa</h4>

    }-->
    <h4 id="P" style="align-self:center"></h4>
    <br>
    <div class="MesmaLinha">
        <h6 id="S_D">Seguro domiciliar: Plano</h6>
        <h6 id="SD_DC">Data do contrato: 00/00/0000</h6>
        <h6 id="SD_E">Expira em: 00/00/0000</h6>
    </div>
    <div class="MesmaLinha">
        <h6 id="S_A">Seguro de automóveis: Plano</h6>
        <h6 id="SA_DC">Data do contrato: 00/00/0000</h6>
        <h6 id="SA_E">Expira em: 00/00/0000</h6>
    </div>
    <br>
    <div class="MesmaLinha" style="padding-top: 25px;padding-bottom: 25px;">
        <h5 id="Obs">Observação:</h5>
    </div>
    
</ul>
<hr>
<ul>
    <a asp-action="Delete" asp-route-id="@Model?.Id" id="Des" type="submit" class="btn-primary btn"
            style="align: center !important;width: 89%;color: #ffffff; margin-top:5px; background-color: #e86d27 !important; outline:none !important; border: none !important;">
        Desativar
        cadastro
    </a>
</ul>



<!--<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.Id">Edit</a> 
    
    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model?.Id">Delete</a>
</div>-->

